<!--this is the form for commenting. styled by Bootstrap-->
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :body, "Your comment" %><br>
    <%= f.text_area :body, class: 'form-control' %>
  </p>

  <p>
    <%= f.submit class: 'btn btn-default submitButton' %>
  </p>
<% end %>
