<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@post.errors.count, "error")  %> stopped this post from saving</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    <div>
  <% end %>

  <p class="newPostForm">
    <%= f.label :title, "Post title" %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :body, "Text" %><br>
    <%= f.text_area :body, class: 'form-control' %>
  </p>

  <p>
    <%= f.submit class: 'btn btn-default submitButton' %>
  </p>

<% end %>
