<div id="allPosts">
    <div class="postWrapper" id="postNew">
      <%= form_for :post, url: posts_path do |f| %>
        <p>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </p>

        <p>
          <%= f.label :body %><br>
          <%= f.text_area :body %>
        </p>

        <p id="submitButton">
          <%= f.submit %>
        </p>

      <% end %>
    </div>
<div>
