<!--This page is yielded when a specific post is viewed-->
<div id="allPosts">
  <div class="postWrapper">
    <h2><%= link_to @post.title, @post.title, class: 'titlePost noTextDeco' %></h2>
    <p class="body"><%= @post.body %></p>

      <!--Edit and delete will only be shown if the user is auth'd-->
      <p class="date">Submitted <%= time_ago_in_words(@post.created_at) %> ago
        <% if user_signed_in? %>
          |
          <%= link_to 'Edit', edit_post_path(@post), style: "color: #FFFFFF" %> |
          <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, style: "color: #FFFFFF" %>
        <% end %>
      </p>

    <!--line between posts-->
    <div id="line"></div>

    <div id="commentsDiv">
      <h4><%= @post.comments.count %> Comments</h4>
      <%= render @post.comments, class: "commentBody" %>

      <div id="line"></div>
      <h4 id="commentForm"> Join the discussion! <h4>
      <%= render "comments/form" %>
    </div>
  </div>
</div>
